@import '../../assets/scss/abstracts/variables.scss';

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/backgroundImages/landing.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logobox {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
       text-transform: uppercase; 
    }

    &__btn {
        color: $color-white;
        padding: 1.5rem 5.0rem;
        outline: none;
        position: relative;
        font-weight: 300;
        font-size: 1.5rem;
        text-decoration: none;
        display: inline-block;
        border-radius: 100px;
        border: none;
        background-image: linear-gradient(to right, $color-pink-light, $color-pink-dark);
        cursor: pointer;
    }
}