// colors
$color-grey-light: #777;
$color-grey-dark: #999;

$color-brown: #654321;

$color-white: #fff;
$color-black: #000;

$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;

// fonts
$font-logo: 'Sriracha', cursive;
$font-primary: 'Quicksand', sans-serif;

