// colors
$color-grey-dark: #777;
$color-grey-light: #999;
$color-grey-superlight: rgb(235, 235, 235);

$color-brown: #654321;

$color-white: #fff;
$color-black: #000;

$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;

// fonts
$font-logo: 'Sriracha', cursive;
$font-primary: 'Quicksand', sans-serif;

