@import '~@angular/material/theming';

// offer the basic of the angular material since we only want to change the theme, we do not have to change this
@include mat-core();

$my-theme-primary: mat-palette($mat-pink, 500);
$my-theme-accent: mat-palette($mat-deep-purple, 500, 600, 700);
$my-theme-warn: mat-palette($mat-red);

$mytheme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($mytheme);