<app-template>
    <section id="about">
        <p class="heading-medium mb-2">What we offer</p>
        <div class="mb-3">
        <div class="about__1 mb-3">
            <svg class="icon__question">
                <use xlink:href="../../assets/svg/sprite1.svg#question"></use>
            </svg>
            <span class="heading-small ml-1">Who are you ?</span>
        </div> 
        <div class="about__2">
            <div class="character">
                <div class="character__title mb-2">
                    <svg class="icon__question">
                        <use xlink:href="../../assets/svg/sprite1.svg#money-bag"></use>
                    </svg>
                    <p class="heading-small ml-1">Finder</p>
                </div>
                <div class="character__list mt-1">
                    <p class="character__list--text mb-1">1. Build your own preferences list for the house you target.</p>
                    <p class="character__list--text mb-1">2. Choose the sublease in the house list that fits your need.</p>
                    <p class="character__list--text">3. Message the Renter for further reservation of the tour.</p>
                </div>
            </div>
            <div class="hands ml-2 mr-2">
                <svg class="icon__question">
                    <use xlink:href="../../assets/svg/sprite1.svg#hand-shake"></use>
                </svg>
            </div>
            <div class="character">
                <div class="character__title mb-2">
                    <svg class="icon__question">
                        <use xlink:href="../../assets/svg/sprite1.svg#key"></use>
                    </svg>
                    <p class="heading-small ml-1">Renter</p>
                </div>
                <div class="character__list mt-1">
                    <p class="character__list--text mb-1">1. Build up your sublease description as detailed as possible.</p>
                    <p class="character__list--text mb-1">2. Post your subleases on the house list and wait patiently.</p>
                    <p class="character__list--text">3. Message the Finder for his/er further room tour.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section id="houses">
        <p class="heading-medium mb-2">Find your desired house</p>
        <div class="grid">
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address"><strong>Address: </strong>1009 S.2nd Street</div>
                    <div class="house__startDate"><strong>Start: </strong>2010.05.09</div>
                    <div class="house__endDate"><strong>End: </strong>2010.12.09</div>
                    <div class="house__price"><strong>Gender: </strong>male only</div>
                    <div class="house__price"><strong>Price: </strong>$3000 / month</div>
                </div>
            </div>
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address">1009 S.2nd Street</div>
                    <div class="house__startDate">2010.05.09</div>
                    <div class="house__endDate">2010.12.09</div>
                    <div class="house__price">$3000 / month</div>
                </div>
            </div>
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address">1009 S.2nd Street</div>
                    <div class="house__startDate">2010.05.09</div>
                    <div class="house__endDate">2010.12.09</div>
                    <div class="house__price">$3000 / month</div>
                </div>
            </div>
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address">1009 S.2nd Street</div>
                    <div class="house__startDate">2010.05.09</div>
                    <div class="house__endDate">2010.12.09</div>
                    <div class="house__price">$3000 / month</div>
                </div>
            </div>
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address">1009 S.2nd Street</div>
                    <div class="house__startDate">2010.05.09</div>
                    <div class="house__endDate">2010.12.09</div>
                    <div class="house__price">$3000 / month</div>
                </div>
            </div>
            <div class="house">
                <img src="../../assets/images//pexels-photo-1029599.jpeg" alt="" class="house__image">
                <div class="house__content">
                    <div class="house__address">1009 S.2nd Street</div>
                    <div class="house__startDate">2010.05.09</div>
                    <div class="house__endDate">2010.12.09</div>
                    <div class="house__price">$3000 / month</div>
                </div>
            </div>
        </div>
        <div class="center mt-2">
            <button class="house__btnMore">See all</button>
        </div>
    </section>
</app-template>